# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.vscode/

renv/
# remove example output files
out_example/

.Rprofile
*/renv/

# Exclude large directories from Git tracking
/bin/
/databases/
/example/
/html/
/models/
/PMS-config/

# Include placeholder files in these directories
!/bin/.gitkeep
!/databases/.gitkeep
!/example/.gitkeep
!/html/.gitkeep
!/models/.gitkeep
!/PMS-config/.gitkeep

# macOS specific files
.DS_Store